{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": "usage",
      "targets": {
        "browsers": ["last 1 versions"]
      }
    }]
  ],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}
